# Ambiente virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Dados (nao versionar arquivos grandes)
data/raw/
data/processed/
data/cache/
*.nc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/